In [1]:
import pandas as pd

# Caminho do arquivo CSV
caminho_arquivo = r"C:\Users\rafae\Desktop\clinica_sevem\Data_Lake\user_raw.csv"

# Leitura do arquivo CSV
df = pd.read_csv(caminho_arquivo)

df

        user_id     var_name                var_value
0        user_1         name               cliente_1!
1        user_1       e-mail      cliente1exemplo.com
2        user_1          cpf              73194515393
3        user_1   entry_date               2023/03/03
4        user_1   entry_time                    11:27
...         ...          ...                      ...
5995  user_1000       e-mail  cliente1000@exemplo.com
5996  user_1000          cpf              25178732742
5997  user_1000   entry_date               2023/07/31
5998  user_1000   entry_time                 22:16:47
5999  user_1000  update_date               2023-05-24

[6000 rows x 3 columns]

In [2]:
df_wide = df.pivot_table(
    index='user_id',
    columns='var_name',
    values='var_value',
    aggfunc='first'  # ou 'max', 'min', 'sum', dependendo do contexto
).reset_index()

In [3]:
df_wide

var_name,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
0,user_1,73194515393,cliente1exemplo.com,2023/03/03,11:27,cliente_1!,27 Apr 2023
1,user_10,89333325563,cliente10@exemplo.com,2023/11/03,03:10 AM,Cliente 10,23/05/2023
2,user_100,80858959841,cliente100@exemplo.com,18/04/2023,03:59:25,Cliente 100,2023-01-08
3,user_1000,25178732742,cliente1000@exemplo.com,2023/07/31,22:16:47,Cliente 1000,2023-05-24
4,user_101,46762409450,cliente101@exemplo.com,2023/04/14,09:22 PM,cliente_101!,2023-02-20
...,...,...,...,...,...,...,...
995,user_995,18290851274,cliente995exemplo.com,16 Jan 2023,03:18,Cliente 995,01/11/2023
996,user_996,50926546827,cliente996@exemplo.com,18 Nov 2023,00:02,Cliente 996,25/03/2023
997,user_997,32000789036,cliente997@exemplo.com,03-12-2023,19:34,Cliente 997,2023-09-13
998,user_998,11155906290,cliente998@exemplo.com,2023/03/10,04:48:55,Cliente 998,25-03-2023
999,user_999,92303900565,cliente999@exemplo.com,15 Sep 2023,12:03 AM,Cliente 999,21 Jun 2023

In [4]:
df_wide.columns.name = None

In [5]:
df_wide

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
0,user_1,73194515393,cliente1exemplo.com,2023/03/03,11:27,cliente_1!,27 Apr 2023
1,user_10,89333325563,cliente10@exemplo.com,2023/11/03,03:10 AM,Cliente 10,23/05/2023
2,user_100,80858959841,cliente100@exemplo.com,18/04/2023,03:59:25,Cliente 100,2023-01-08
3,user_1000,25178732742,cliente1000@exemplo.com,2023/07/31,22:16:47,Cliente 1000,2023-05-24
4,user_101,46762409450,cliente101@exemplo.com,2023/04/14,09:22 PM,cliente_101!,2023-02-20
...,...,...,...,...,...,...,...
995,user_995,18290851274,cliente995exemplo.com,16 Jan 2023,03:18,Cliente 995,01/11/2023
996,user_996,50926546827,cliente996@exemplo.com,18 Nov 2023,00:02,Cliente 996,25/03/2023
997,user_997,32000789036,cliente997@exemplo.com,03-12-2023,19:34,Cliente 997,2023-09-13
998,user_998,11155906290,cliente998@exemplo.com,2023/03/10,04:48:55,Cliente 998,25-03-2023
999,user_999,92303900565,cliente999@exemplo.com,15 Sep 2023,12:03 AM,Cliente 999,21 Jun 2023

In [6]:
import re
def limpar_nome(nome):
    if pd.isnull(nome):
        return nome
    # Remove tudo que nÃ£o for letra, nÃºmero ou espaÃ§o
    nome_limpo = re.sub(r'[^\w\s]', '', nome)
    # Substitui underscores por espaÃ§o
    nome_limpo = nome_limpo.replace('_', ' ')
    # Capitaliza
    return nome_limpo.title()

In [7]:
df_wide['name'] = df_wide['name'].apply(limpar_nome)

In [8]:
df_wide

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
0,user_1,73194515393,cliente1exemplo.com,2023/03/03,11:27,Cliente 1,27 Apr 2023
1,user_10,89333325563,cliente10@exemplo.com,2023/11/03,03:10 AM,Cliente 10,23/05/2023
2,user_100,80858959841,cliente100@exemplo.com,18/04/2023,03:59:25,Cliente 100,2023-01-08
3,user_1000,25178732742,cliente1000@exemplo.com,2023/07/31,22:16:47,Cliente 1000,2023-05-24
4,user_101,46762409450,cliente101@exemplo.com,2023/04/14,09:22 PM,Cliente 101,2023-02-20
...,...,...,...,...,...,...,...
995,user_995,18290851274,cliente995exemplo.com,16 Jan 2023,03:18,Cliente 995,01/11/2023
996,user_996,50926546827,cliente996@exemplo.com,18 Nov 2023,00:02,Cliente 996,25/03/2023
997,user_997,32000789036,cliente997@exemplo.com,03-12-2023,19:34,Cliente 997,2023-09-13
998,user_998,11155906290,cliente998@exemplo.com,2023/03/10,04:48:55,Cliente 998,25-03-2023
999,user_999,92303900565,cliente999@exemplo.com,15 Sep 2023,12:03 AM,Cliente 999,21 Jun 2023

In [9]:
df_wide = df_wide[df_wide['e-mail'].str.contains(r'@exemplo\.com$', na=False)]

In [10]:
df_wide

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
1,user_10,89333325563,cliente10@exemplo.com,2023/11/03,03:10 AM,Cliente 10,23/05/2023
2,user_100,80858959841,cliente100@exemplo.com,18/04/2023,03:59:25,Cliente 100,2023-01-08
3,user_1000,25178732742,cliente1000@exemplo.com,2023/07/31,22:16:47,Cliente 1000,2023-05-24
4,user_101,46762409450,cliente101@exemplo.com,2023/04/14,09:22 PM,Cliente 101,2023-02-20
5,user_102,25473014829,cliente102@exemplo.com,2023/10/21,02:38 PM,Cliente 102,07/02/2023
...,...,...,...,...,...,...,...
994,user_994,95669995667,cliente994@exemplo.com,2023-05-27,04:06 AM,Cliente 994,2023-06-16
996,user_996,50926546827,cliente996@exemplo.com,18 Nov 2023,00:02,Cliente 996,25/03/2023
997,user_997,32000789036,cliente997@exemplo.com,03-12-2023,19:34,Cliente 997,2023-09-13
998,user_998,11155906290,cliente998@exemplo.com,2023/03/10,04:48:55,Cliente 998,25-03-2023
999,user_999,92303900565,cliente999@exemplo.com,15 Sep 2023,12:03 AM,Cliente 999,21 Jun 2023

In [11]:
df_wide['entry_time'] = df_wide['entry_time'].str.strip()

# Se nÃ£o tiver segundos, adiciona ":00"
df_wide['entry_time'] = df_wide['entry_time'].apply(
    lambda x: x if len(x.split(':')) == 3 else x + ':00'
)

C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\3748994496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide['entry_time'] = df_wide['entry_time'].str.strip()
C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\3748994496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide['entry_time'] = df_wide['entry_time'].apply(

In [12]:
df_wide

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
1,user_10,89333325563,cliente10@exemplo.com,2023/11/03,03:10 AM:00,Cliente 10,23/05/2023
2,user_100,80858959841,cliente100@exemplo.com,18/04/2023,03:59:25,Cliente 100,2023-01-08
3,user_1000,25178732742,cliente1000@exemplo.com,2023/07/31,22:16:47,Cliente 1000,2023-05-24
4,user_101,46762409450,cliente101@exemplo.com,2023/04/14,09:22 PM:00,Cliente 101,2023-02-20
5,user_102,25473014829,cliente102@exemplo.com,2023/10/21,02:38 PM:00,Cliente 102,07/02/2023
...,...,...,...,...,...,...,...
994,user_994,95669995667,cliente994@exemplo.com,2023-05-27,04:06 AM:00,Cliente 994,2023-06-16
996,user_996,50926546827,cliente996@exemplo.com,18 Nov 2023,00:02:00,Cliente 996,25/03/2023
997,user_997,32000789036,cliente997@exemplo.com,03-12-2023,19:34:00,Cliente 997,2023-09-13
998,user_998,11155906290,cliente998@exemplo.com,2023/03/10,04:48:55,Cliente 998,25-03-2023
999,user_999,92303900565,cliente999@exemplo.com,15 Sep 2023,12:03 AM:00,Cliente 999,21 Jun 2023

In [13]:
df_wide['entry_time'] = df_wide['entry_time'].str.replace(r'\s?(AM|PM)', '', regex=True)

C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\1440526807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide['entry_time'] = df_wide['entry_time'].str.replace(r'\s?(AM|PM)', '', regex=True)

In [14]:
df_wide

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
1,user_10,89333325563,cliente10@exemplo.com,2023/11/03,03:10:00,Cliente 10,23/05/2023
2,user_100,80858959841,cliente100@exemplo.com,18/04/2023,03:59:25,Cliente 100,2023-01-08
3,user_1000,25178732742,cliente1000@exemplo.com,2023/07/31,22:16:47,Cliente 1000,2023-05-24
4,user_101,46762409450,cliente101@exemplo.com,2023/04/14,09:22:00,Cliente 101,2023-02-20
5,user_102,25473014829,cliente102@exemplo.com,2023/10/21,02:38:00,Cliente 102,07/02/2023
...,...,...,...,...,...,...,...
994,user_994,95669995667,cliente994@exemplo.com,2023-05-27,04:06:00,Cliente 994,2023-06-16
996,user_996,50926546827,cliente996@exemplo.com,18 Nov 2023,00:02:00,Cliente 996,25/03/2023
997,user_997,32000789036,cliente997@exemplo.com,03-12-2023,19:34:00,Cliente 997,2023-09-13
998,user_998,11155906290,cliente998@exemplo.com,2023/03/10,04:48:55,Cliente 998,25-03-2023
999,user_999,92303900565,cliente999@exemplo.com,15 Sep 2023,12:03:00,Cliente 999,21 Jun 2023

In [15]:
print(df_wide.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 857 entries, 1 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      857 non-null    object
 1   cpf          857 non-null    object
 2   e-mail       857 non-null    object
 3   entry_date   857 non-null    object
 4   entry_time   857 non-null    object
 5   name         857 non-null    object
 6   update_date  857 non-null    object
dtypes: object(7)
memory usage: 53.6+ KB
None

In [16]:
# Converter para datetime, tratando formatos diferentes
df_wide['entry_date'] = pd.to_datetime(df_wide['entry_date'], errors='coerce', dayfirst=True)
df_wide['update_date'] = pd.to_datetime(df_wide['update_date'], errors='coerce', dayfirst=True)

# Formatar como string no padrÃ£o aaaa/mm/dd
df_wide['entry_date'] = df_wide['entry_date'].dt.strftime('%Y/%m/%d')
df_wide['update_date'] = df_wide['update_date'].dt.strftime('%Y/%m/%d')

C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\3720164662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide['entry_date'] = pd.to_datetime(df_wide['entry_date'], errors='coerce', dayfirst=True)
C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\3720164662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide['update_date'] = pd.to_datetime(df_wide['update_date'], errors='coerce', dayfirst=True)
C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\3720164662.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide['entry_date'] = df_wide['entry_date'].dt.strftime('%Y/%m/%d')

C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\3720164662.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide['update_date'] = df_wide['update_date'].dt.strftime('%Y/%m/%d')

In [17]:
df_wide

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
1,user_10,89333325563,cliente10@exemplo.com,2023/11/03,03:10:00,Cliente 10,2023/05/23
2,user_100,80858959841,cliente100@exemplo.com,2023/04/18,03:59:25,Cliente 100,2023/01/08
3,user_1000,25178732742,cliente1000@exemplo.com,2023/07/31,22:16:47,Cliente 1000,2023/05/24
4,user_101,46762409450,cliente101@exemplo.com,2023/04/14,09:22:00,Cliente 101,2023/02/20
5,user_102,25473014829,cliente102@exemplo.com,2023/10/21,02:38:00,Cliente 102,2023/02/07
...,...,...,...,...,...,...,...
994,user_994,95669995667,cliente994@exemplo.com,2023/05/27,04:06:00,Cliente 994,2023/06/16
996,user_996,50926546827,cliente996@exemplo.com,2023/11/18,00:02:00,Cliente 996,2023/03/25
997,user_997,32000789036,cliente997@exemplo.com,2023/12/03,19:34:00,Cliente 997,2023/09/13
998,user_998,11155906290,cliente998@exemplo.com,2023/03/10,04:48:55,Cliente 998,2023/03/25
999,user_999,92303900565,cliente999@exemplo.com,2023/09/15,12:03:00,Cliente 999,2023/06/21

In [18]:
colunas_data = ['entry_date', 'update_date']
for col in colunas_data:
    df_wide[col] = pd.to_datetime(df_wide[col], errors='coerce', dayfirst=True)

C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\284222733.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide[col] = pd.to_datetime(df_wide[col], errors='coerce', dayfirst=True)
C:\Users\rafae\AppData\Local\Temp\ipykernel_17684\284222733.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wide[col] = pd.to_datetime(df_wide[col], errors='coerce', dayfirst=True)

In [19]:
df_final = df_wide.copy()

In [20]:
df_final

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
1,user_10,89333325563,cliente10@exemplo.com,2023-11-03,03:10:00,Cliente 10,2023-05-23
2,user_100,80858959841,cliente100@exemplo.com,2023-04-18,03:59:25,Cliente 100,2023-01-08
3,user_1000,25178732742,cliente1000@exemplo.com,2023-07-31,22:16:47,Cliente 1000,2023-05-24
4,user_101,46762409450,cliente101@exemplo.com,2023-04-14,09:22:00,Cliente 101,2023-02-20
5,user_102,25473014829,cliente102@exemplo.com,2023-10-21,02:38:00,Cliente 102,2023-02-07
...,...,...,...,...,...,...,...
994,user_994,95669995667,cliente994@exemplo.com,2023-05-27,04:06:00,Cliente 994,2023-06-16
996,user_996,50926546827,cliente996@exemplo.com,2023-11-18,00:02:00,Cliente 996,2023-03-25
997,user_997,32000789036,cliente997@exemplo.com,2023-12-03,19:34:00,Cliente 997,2023-09-13
998,user_998,11155906290,cliente998@exemplo.com,2023-03-10,04:48:55,Cliente 998,2023-03-25
999,user_999,92303900565,cliente999@exemplo.com,2023-09-15,12:03:00,Cliente 999,2023-06-21

In [21]:
df_final.to_csv("usuarios_tratado.csv", index=False)